<section id="gallery" class="download gallery-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Gallery</h2>
                <p>MusicBee Remote in action</p>
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="image-gallery">
    <div class="container-fluid" itemscope itemtype="http://schema.org/ImageGallery">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{site.baseurl}}/img/gallery/1.png" class="portfolio-box" data-size="1080x1920">
                        <img src="{{site.baseurl}}/img/gallery/1.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Main Screen
                                </div>
                                <div class="project-name">
                                    Basic controls
                                </div>
                            </div>
                        </div>
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-sm-6">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{site.baseurl}}/img/gallery/2.png" class="portfolio-box" data-size="1080x1920">
                        <img src="{{site.baseurl}}/img/gallery/2.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Library Screen
                                </div>
                                <div class="project-name">
                                    Browse Genres, Artists, Albums and Tracks
                                </div>
                            </div>
                        </div>
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-sm-6">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{site.baseurl}}/img/gallery/3.png" class="portfolio-box" data-size="1080x1920">
                        <img src="{{site.baseurl}}/img/gallery/3.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Library Search
                                </div>
                                <div class="project-name">
                                    Search by keyword
                                </div>
                            </div>
                        </div>
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-sm-6">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{site.baseurl}}/img/gallery/4.png" class="portfolio-box" data-size="1080x1920">
                        <img src="{{site.baseurl}}/img/gallery/4.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Now playing view
                                </div>
                                <div class="project-name">
                                    Check and manage your active playlist
                                </div>
                            </div>
                        </div>
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-sm-6">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{site.baseurl}}/img/gallery/5.png" class="portfolio-box" data-size="1080x1920">
                        <img src="{{site.baseurl}}/img/gallery/5.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Playlist View
                                </div>
                                <div class="project-name">
                                    View and play your Playlists
                                </div>
                            </div>
                        </div>
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-sm-6">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{site.baseurl}}/img/gallery/6.png" class="portfolio-box" data-size="1080x1920">
                        <img src="{{site.baseurl}}/img/gallery/6.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    LockScreen Controls
                                </div>
                                <div class="project-name">
                                    Manage your playback from the lock screen
                                </div>
                            </div>
                        </div>
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

