<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Features</h2>
                    <p class="text-muted">Check what can you do with MusicBee Remote</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup nexus6 portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="{{site.baseurl}}/img/demo-screen-1.png" class="img-responsive" alt=""></div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-control-play text-primary"></i>
                                <h3>Playback Control</h3>
                                <p class="text-muted">You easily navigate through your active playlist and control
                                    playback.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-playlist text-primary"></i>
                                <h3>Playlists</h3>
                                <p class="text-muted">You can control your active playlist, add, remove or reorder
                                    tracks.
                                    Also you can view and add for playback your existing playlists</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-docs text-primary"></i>
                                <h3>Library browsing</h3>
                                <p class="text-muted">You can browse the genres, artists, albums and track of your music
                                    library.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>
                                <h3>Open Source</h3>
                                <p class="text-muted">The application is free and open source, licensed under GPLv3.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
